version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      # CORREÇÃO: Mudamos o IP pelo nome do serviço 'db' e garantimos o TrustServerCertificate
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=LCMDatabase;User Id=sa;Password=Fulgora3000;TrustServerCertificate=True;

  db:
    # CORREÇÃO: Mudamos para 2022 para ser compatível com o backup que restauraste
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Fulgora3000
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

volumes:
  mssql-data: